#app {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex: 1;
}

@media screen and (max-width: 1140px) {
  #app {
    margin-left: 20px;
    margin-right: 20px;
  }
}